<GridLayout>
    <ListView [items]="upgradeTypes" class="list-group">
        <ng-template let-upgradeType="item">
            <StackLayout class="list-group-item" (tap)="chooseUpgradeType(upgradeType)" orientation="horizontal">
                <Image [src]="upgradeType.imageUrl" class="choice-symbol"></Image>
                <StackLayout class="upgrade-text">
                    <Label [text]="upgradeType.name" class="label choice-name title"></Label>
                    <Label [text]="upgradeType.upgrade.name" *ngIf="upgradeType.upgrade" class="selected-upgrade"></Label>
                </StackLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
