.legion-list-row {
  padding: 5;
  width: 100%;
}

.legion-list-faction {
  width: 30;
}

.legion-list-points {
  margin-top: 10;
  text-align: right;
  width: 25%;
  padding-right: 5;
  font-size:12;
  color:#999;
}

.legion-list-name-faction {
  width: 75%;
}

.legion-list-name {
  margin-top: 3;
  margin-left: 10;
  font-size: 16;
  color:#999;
}

