<ActionBar title="Lists" class="fa">
    <ActionItem (tap)="chooseFaction()">
        <Button text="&#xf067;" class="fa"></Button>
    </ActionItem>
</ActionBar>
<StackLayout>
    <ListView [items]="lists" class="list-group">
        <ng-template let-list="item">
            <FlexboxLayout [nsRouterLink]="['/list', list.id]">
                <Image [src]="list.faction.imageUrl" height="20" class="legion-list-faction"></Image>
                <Label [text]="list.name" class="legion-list-name"></Label>
                <Label [text]="list.points() + 'pts'" class="legion-list-points"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>
