<ActionBar title="Edit List">
    <ActionItem (tap)="cancelChanges()">
        <Button text="&#xf060;" class="fa"></Button>
    </ActionItem>
    <ActionItem (tap)="saveChanges(list.name)">
        <Button text="&#xf0c7;" class="fa"></Button>
    </ActionItem>
    <ActionItem (tap)="chooseRank()">
        <Button text="&#xf067;" class="fa"></Button>
    </ActionItem>
</ActionBar>
<StackLayout *ngIf="list">
    <StackLayout>
        <TextField [(ngModel)]="list.name"></TextField>
    </StackLayout>
    <StackLayout>
        <ListView [items]="list.units" class="list-group" height="100%">
            <ng-template let-unit="item" let-i="index">
                <StackLayout class="legion-list-row">
                    <Image [src]="unit.cardFrontImageUrl" (tap)="chooseUpgradeType(unit)" class="unit-card"></Image>
                    <ScrollView *ngIf="unit.upgrades.length > 0" orientation="horizontal">
                        <StackLayout orientation="horizontal">
                            <Image *ngFor="let upgrade of unit.upgrades" [src]="upgrade.cardImageUrl" class="upgrade-card"></Image>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</StackLayout>
