<ActionBar class="title">
    <FlexLayout>
        <Label text="Edit List" class="screen-title title>"></Label>
    </FlexLayout>
    <ActionItem (tap)="cancelChanges()">
        <Button text="&#xf060;" class="fa"></Button>
    </ActionItem>
    <ActionItem (tap)="saveChanges(list.name)">
        <Button text="&#xf00c;" class="fa"></Button>
    </ActionItem>
    <ActionItem (tap)="chooseRank()">
        <Button text="&#xf067;" class="fa"></Button>
    </ActionItem>
</ActionBar>
<StackLayout *ngIf="list">
    <StackLayout orientation="horizontal" class="legion-list-info">
        <StackLayout class="legion-list-name-faction" orientation="horizontal">
            <Image [src]="list.faction.imageUrl" class="legion-list-faction"></Image>
            <TextField [(ngModel)]="list.name" class="legion-list-name title"></TextField>
        </StackLayout>
        <Label [text]="calculatePoints() + 'pts'" class="legion-list-points title"></Label>
    </StackLayout>
    <ScrollView height="100%">
        <StackLayout>
            <StackLayout *ngFor="let unit of getUnitsInOrder()" class="unit">
                <Image [src]="unit.cardFrontImageUrl" (tap)="chooseUpgradeType(unit)" class="unit-card"></Image>
                <ScrollView *ngIf="unit.upgrades.length > 0" orientation="horizontal">
                    <StackLayout orientation="horizontal">
                        <Image *ngFor="let upgrade of unit.upgrades" [src]="upgrade.cardImageUrl" class="upgrade-card"></Image>
                    </StackLayout>
                </ScrollView>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>
