@import '~nativescript-theme-core/css/core.dark.css';

Page {
  background-color: #222;
  color: #ddd;
}

ActionBar {
  background-color: #444;
  color: #ddd;
}

ActionBar Button {
  width: 50;
  height: 50;
  font-size: 20;
  text-align: center;
  border-radius: 30%;
  color: #ddd;
  background-color: #666;
  border-color: #444;
  border-width: 4;
}

ListView StackLayout {
  background-color: #222;
  padding: 10;
}

ActionBar .screen-title {
  font-size: 30;
}

.fa {
  font-family: 'fontawesome-webfont';
}

.title {
  font-family: 'SFFourcheSC';
}

.choice-symbol {
  height: 40;
  margin-right: 20;
}

.choice-name {
  color: #999;
  font-size: 20;
  font-variant: small-caps;
}
